#textbox{
 margin-top: 20px;
 margin-left: 20px;
 height: 80px;
 width: 12em;
}

.align{
  display: flex; 
}
.top{
  margin-top: 60px;
}
.A{
  margin-left: 60px;
  margin-right: 60px;
  
}



.B{
  margin-top: 15px;
  margin-left: 50px;
}

#pElment{
  line-height: 0.5;
}



input[type=file]{
  margin-left: 20px;
  height: 30px;
  width: 110px;
  font-size:medium;
  
}

.LableFile{


  background: #92989c;
  color: white;
  border-style: ridge;
  border-color:  #797f82;
  border-radius: 2px;
  height: 70px;
  width: 110px;
  font: bold15px arial,sans-serif;
  text-shadow: none;
  margin-left: 20px;
}

/* Pseudo-class selector */
.nav a:hover {
  background-color: #7ebeb6;
  color: #092747;
}