
.header {
  border-radius: 15px;
  background: #dedcdc;
  padding: 5px;
  display: flex;
  font-family: 'Dancing Script', cursive;
  font-family: 'Merriweather Sans', sans-serif;
  }

/*Child Selector*/
.header > div{
  flex-basis: 100%;
  margin-left: 20px;
}
  
.footer{
  border-radius: 15px;
  background: #dedcdc;
  padding: 5px;
  position: relative;
  right: 2.9;
  bottom: 0;
  width: 98.5%;
  text-align: center;
  margin-top: 10px;
  font-family: 'Dancing Script', cursive;
  font-family: 'Merriweather Sans', sans-serif;
}

img {
  max-width: 60px;
  height:auto;
  float: right;
  margin-right: 20px;
}

.container{ 
  text-align: center;
  background-color: #dedcdc;
  border-radius: 25px;
  margin-top: 60px;
  height: 22em;
  width: 20em; 
  margin-left: auto;
  margin-right: auto;
  font-family: 'Dancing Script', cursive;
  font-family: 'Merriweather Sans', sans-serif;    
}

.post{
margin-top: 0px;
margin-bottom: 10px;
}

.myFile{
  display: none;
}

.mini_container {
  text-align: center;
  background-color: #dedcdc;
  border-radius: 20px;
  margin-top: 60px;
  height: 10em;
  width: 20em; 
  margin-left: auto;
  margin-right: auto;
  font-family: 'Dancing Script', cursive;
  font-family: 'Merriweather Sans', sans-serif; 

}

/* General Sibling Selector */
div ~ h5{
  color: rgb(37, 43, 43);
  text-align: right;
  padding-top: 20px;
  padding-right: 15px;

}
input[type=submit]{
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  height: 30px;
  width: 110px;
  font-size:medium;
  font: bold15px arial,sans-serif;
  text-shadow: none;
}

/* Pseudo-class selector */
.nav a:hover {
  background-color: #7ebeb6;
  color: #092747;
}

ul {
  list-style: none;
  }

li {
  display: inline;
}

a {
  color: #34495e;
  text-decoration: none;
  }

/*Descendant Selector... for login page... */
.blue p {
  color: #21a3f3f3;
}

/*Adjacent Sibling Selector ... for login page*/
div+p {
  color: #21a3f3f3;
}

.container_img {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.container_img_like_btn {
  float: left;
  margin-left: 20px;
  margin-top: -30px;
}

/*Child Selector*/
.center_img > img{
  float: center;
  max-width: 280px;
}

* {
  box-sizing: border-box;
}
/*ID selector*/
#grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  
}

#column_left {
  background-color:#ccc;
  border-radius: 25px;
  margin-top: 10px;
}

#column_middle {
  grid-column: 3 / 5;
}

#column_right {
  background-color:#ccc;
  grid-column: span 1 / 7;
  border-radius: 25px;
  margin-top: 10px;
}

@media screen and (max-width: 460px){
  #column_middle{
    width:100%;
  }
  #column_left {
    display: none;
  }
  
  #column_right {
    display: none;
  }
}