.header {
    border-radius: 17px;
    background: gray;
    padding: 10px;
    display: flex;
  }

  .header >div{
    flex-basis: 110%;
  }

  h3{
    font-family: 'Dancing Script', cursive;
font-family: 'Merriweather Sans', sans-serif;
  }
  img {
    max-width: 10%;
    height:auto;
    float: right;
  }
 