.header {
    border-radius: 15px;
    background: gray;
    padding: 5px;
    display: flex;
  }

  .header >div{
    flex-basis: 100%;
    margin-left: 20px;
  }

  h3{
    font-family: 'Dancing Script', cursive;
font-family: 'Merriweather Sans', sans-serif;
  }
  img {
    max-width: 15%;
    height:auto;
    float: right;
    margin-right: 20px;
  }

  .container{ 
    text-align: center;
    background-color: gray;
    border-radius: 25px;

    height: 20em;
     width: 20em; 
     margin-left: auto;
     margin-right: auto
     
   }
 